<!doctype html>
{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '../static/index.css' %}">

  <title>Free classes</title>
</head>

<body>
  <section class="free">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>This is your information....</h1>
          <h3>please read this page carefully</h3>
          <img src={% static '../static/image/w32.jpg'%} height="500px" width="500px">
        </div>
        <div class="col-md-6">
          <p><b>R</b>ole and Responsibilities: Web developers are responsible for designing, coding, and modifying websites, from
          layout to function, according to a client's specifications. They strive to create visually appealing sites
          that feature user-friendly design and clear navigation.
          
          Skills Required: A web developer needs a variety of skills, including proficiency in HTML, CSS, JavaScript,
          and possibly other programming languages like Python, Ruby, or PHP. Knowledge of frameworks and libraries such
          as React, Angular, or Vue.js is also often essential.
          
          Types of Web Developers: There are generally three main types of web developers:
          
          Front-End Developers: Focus on the visual aspects of the website that users interact with.
          Back-End Developers: Handle the server-side logic, databases, and application integration.
          Full-Stack Developers: Skilled in both front-end and back-end development.
          Tools and Technologies: Web developers use various tools and technologies to create websites. These include
          code editors like Visual Studio Code, version control systems like Git, and design tools like Adobe XD or
          Figma. They may also use content management systems (CMS) like WordPress or Joomla.

          Responsive Design: Modern web developers must ensure that websites are responsive, meaning they work well on a
          variety of devices, from desktops to smartphones. This involves using flexible grid layouts, CSS media
          queries, and other techniques to adapt the layout to different screen sizes...</p>









        </div>
      </div>
    </div>

  </section>














  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>


</body>

</html>