<!doctype html>
{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'index.css' %}">

  <title>contact us</title>
</head>

<body>
  <section class="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="{% static 'image/lojo-removebg-preview.png' %}" height="200px" width="300px">
        </div>
        <div class="col-md-6">
          <h2 class=" text-success">QUALITY MULTIROTERS COURSE PURCHASES</h2>
        </div>
      </div>
    </div>
  </section>
  <section class="contact-card">
    <h2>Get a call back!</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card text-white bg-info mb-3" style="max-width: 30rem; height: 20rem;">
            <div class="card-header">
              <h4>Contact Us</h4>
            </div>
            <div class="card-body">
              <!-- <h5 class="card-title">Info card title</h5> -->
              <p class="card-text"><i class="fa-solid fa-phone"></i>+91823456784
                <br><br><br><i class="fa-solid fa-envelope"></i> coursepurchases@gmail.com<br><br><br><i
                  class="fa-solid fa-location-dot"></i> hinoo,united club, p.i.n: 834002<br>indrapalace road ,Ranchi
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6"></div>
          <img src="{% static 'image/lojo-removebg-preview.png' %}" height="200px" width="300px">
        </div>
        <div class="col-md-6">
          <h2 class=" text-success">QUALITY MULTIROTERS COURSE PURCHASES</h2>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6">
          <h3>Address:</h3>
          <p> hinoo,united club, p.i.n: 834002, p.o-dronda<br>Ranchi,Jharkhand,India</p>
        </div>
        <div class="col-md-6">
          <h3>Contact us</h3>
          <i class="fa-solid fa-phone"></i>
          <br><br><br>
          <i class="fa-regular fa-envelope"></i>
          <p>coursepurchases@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
      </div>
      <div class="col-md-2">
        <a href="https://www.twitter.com/"><i class="fa-brands fa-twitter"></i></a>
      </div>
      <div class="col-md-2">
        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
      </div>
      <div class="col-md-2">
        <a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
      </div>
      <div class="col-md-2">
        <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
      </div>
      <div class="col-md-2">
        <a href="https://www.github.com/"><i class="fa-brands fa-github"></i></a>
      </div>
    </div>
    <br>
    <p>copyright 2024 - All Rights Reserved cse.ac.in</p>
  </section>
















  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>

</body>

</html>