<!doctype html>
{% load static %}

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'index.css' %}">

    <title>{{title}}</title>
</head>

<body>
   <section class="read">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-dark text-white">
                  {% for i in main_image %}
                  <img src="{{ i.img.url }}" class="card-img" alt="...">
                  {% endfor %}
                    <div class="card-img-overlay">
                      <h3 class="card-title ">READ PYTHON TUTORIAL</h3>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    <img src="..." class="card-img-bottom" alt="...">
                  </div>
            </div>
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit porro natus omnis officiis cumque ducimus, suscipit cupiditate. Odio ea quia repudiandae mollitia, incidunt, quas exercitationem qui consequuntur, obcaecati dolor veritatis.
                Aliquam cumque itaque dignissimos sed assumenda. Praesentium dolore placeat magni vitae necessitatibus totam consectetur cupiditate, suscipit rerum nisi inventore iusto molestias quo assumenda harum rem nostrum esse vel eaque. Libero?
                Exercitationem illum quaerat quod laborum reiciendis. Nihil, facere voluptatibus. Quisquam assumenda cumque placeat, corrupti asperiores eveniet recusandae incidunt ab, eaque distinctio impedit iure soluta provident, laudantium reprehenderit. Et, praesentium itaque.
                Asperiores aspernatur atque quidem sequi distinctio pariatur doloremque ullam ratione saepe quae eligendi ipsum nemo repellendus, alias tenetur earum placeat autem nulla possimus sint repudiandae fuga incidunt ipsa! Numquam, dignissimos?</p>
            </div>
        </div>
    </div>
   </section>












    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>


</body>

</html>